<div class="col-md-8 order-md-1">

<h2 class="d-inline-block">Nueva issue</h2>

<form class="needs-validation">
  <div class="col-md-6 mb-3">
  <label>Titulo: </label>
    <input type="text" class="form-control" [(ngModel)]="title" name="title" />
  </div>

  <div class="col-md-6 mb-3">
  <label>Descripcion: </label>
    <input type="text" class="form-control" [(ngModel)]="description" name="descripcion"/>
  </div>

  <div class="col-md-6 mb-3">
  <label>Usuario: </label>
    <input type="text" class="form-control" [(ngModel)]="usuario" name="usuario"/>
  </div>

  <button class="btn btn-primary" style="float: left" (click)="addIssue()">Añadir</button>

  <button class="btn btn-info mx-2" (click)="addContinueIssue()">Añadir y continuar</button>

</form>



</div>
