<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AyesaProyecto</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarayesa"
    aria-controls="navbarayesa"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarayesa">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/nuevo']">Nueva issue</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/lista']">Ver listado de issues</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Ver dashboard</a></li>
    </ul>
  </div>
</nav>
