<div class="container h-100 my-3">
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <input class="search_input" type="text" name="search" [(ngModel)]="search" placeholder="Search..." (keyup)="onKey($event)">
      <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    </div>
  </div>
</div>
<ul class="list-group mx-3 my-3">
  <li *ngFor="let issue of issues" class="list-group-item">
    <span class="id">{{issue.title}}</span>
    <button type="button" class="btn btn-danger mx-2" style="float: right" data-toggle="modal"  attr.data-target="#deleteModal_{{issue.id}}">
      Eliminar
    </button>
    <button style="float: right" class="btn btn-secondary mx-2" [routerLink]="['/editIssue', issue.iid]">Editar</button>
    <button style="float: right" class="btn btn-primary  mx-2" [routerLink]="['/issue', issue.iid]">Detalle</button>
  </li>
</ul>

<!-- The Modal -->
<div *ngFor="let issue of issues" class="modal fade" id="deleteModal_{{issue.id}}">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Eliminar issue</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          ¿Seguro que desea eliminar la issue?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="deleteIssue(issue)" type="button" data-dismiss="modal" class="btn btn-primary">Si</button>
        </div>
        
      </div>
    </div>
  </div>
