<div class="container my-4">
    <div class="row">

      <div id="open" droppable [dropScope]="'open'" [dragOverClass]="'drag-target-border'">
        <div id="open-list" class="col">
          <li class="list-group-item bg-primary text-white"><h3>Open</h3></li>
          <li draggable *ngFor="let issue of issuesOpen" [dragData]="issue" class="list-group-item" droppable (onDrop)="onItemDropChangeToOpen($event)">
              <span id="issue">{{issue.title}}</span>
          </li>
        </div>
      </div>

      <div id="closed" droppable [dropScope]="'open'" [dragOverClass]="'drag-target-border'">
        <div id="closed-list" class="col">
            <li class="list-group-item bg-primary text-white"><h3>Closed</h3></li>
            <li draggable *ngFor="let issue of issuesClosed" [dragData]="issue" class="list-group-item" droppable (onDrop)="onItemDropChangeToClose($event)">
                <span class="id">{{issue.title}}</span>
            </li>
        </div>
      </div>

    </div>
  </div>
