<div class="col-md-8 order-md-1">

  <h2 class="d-inline-block">Detalle issue</h2>

  <form class="needs-validation">
    <div class="col-md-6 mb-3">
    <label>Titulo: </label>
      <input type="text" class="form-control" [(ngModel)]="issue.title" name="title" [disabled]="!mostrarUpdate"/>
    </div>

    <div class="col-md-6 mb-3">
    <label>Descripcion: </label>
      <input type="text" class="form-control" [(ngModel)]="issue.description" name="descripcion" [disabled] = "!mostrarUpdate"/>
    </div>

    <div class="col-md-6 mb-3">
    <label>Usuario: </label>
      <input type="text" class="form-control" [(ngModel)]="issue.assignees[0].name" name="usuario" [disabled] = "!mostrarUpdate"/>
    </div>

    <div *ngIf="mostrarUpdate">
      <button class="btn btn-primary" (click)="updateIssue()">Actualizar</button>
    </div>
  </form>

  </div>
